{% extends 'base.html' %}

{% block head %}
<title>Editar Objeto</title>
{% endblock %}

{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>Edição de objetos</h1>
    <hr>
    <h2>Editar:</h2>
    <form action='/objetos/editar/{{objeto.id}}' method='POST'>
        Nome: <input type='text' name='Nome' id='Nome' value={{objeto.Nome}}>
        <br>
        Categoria: <input type='text' name='Categoria' id='Categoria' value={{objeto.Categoria}}>
        <br>
        Descrição: <input type='text' name='Descrição' id='Descrição' value={{objeto.Descrição}}>
        <br>
        Local: <input type='text' name='Local' id='Local' value={{objeto.Local}}>
        <br>
        <br>
        <input type='submit' value='Salvar'>
    </form>
    <hr>
{% endblock %}
